@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}

@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}

$phone: " (max-width: 767px) ";
$table: " (min-width: 768px) and (max-width: 1023px) ";
$desktop: " (min-width: 1024px) ";

@mixin useMedia($type){
  @if $type == 'phone' {
    @media screen and #{$phone} {
      @content;
    }
  }
  @else if $type == 'table' {
    @media screen and #{$table} {
      @content;
    }
  }
  @else{
    @media screen and #{$desktop} {
      @content;
    }
  }
}
